<section class="c-about" id="about-me">
  <div class="container">
    <div class="section-title">
      <h2 class="title">About me</h2>
    </div>

    <!-- info -->
    <div class="c-about__img">
      <img src="img/my-image.jpg" alt="naif sameer photo" />
    </div>

    <div class="c-about__info">
      <h4 class="c-about__title">Naif Sameer.</h4>

      <p class="c-about__desc">
        I am a web developer with a vast array of knowledge in different front
        end and back-end languages, responsive design and frameworks, databases,
        and best code practices.
      </p>

      <ul class="c-about__list">
        <li class="c-about__item">Html</li>
        <li class="c-about__item">Css</li>
        <li class="c-about__item">Javascript</li>
        <li class="c-about__item">Reactjs</li>
        <li class="c-about__item">Vuejs</li>
        <li class="c-about__item">Tailwindcss</li>
        <li class="c-about__item">Typescript</li>
        <li class="c-about__item">Next.js</li>
        <li class="c-about__item">Node.js</li>
        <li class="c-about__item">php/Laravel</li>
      </ul>
    </div>
  </div>
</section>
