<section class="c-contact">
  <div class="container">
    <div class="section-title">
      <h2>Contact with us</h2>
    </div>

    <!-- form section -->
    <form action="" class="c-contact__form">
      <div class="c-contact__input-group">
        <label for="form-name">Name: </label>
        <input placeholder="your name..." type="text" id="form-name" />
        <span class="form-name-err form-err"></span>
      </div>

      <div class="c-contact__input-group">
        <label for="form-email">Email: </label>
        <input placeholder="your email..." type="text" id="form-email" />
        <span class="form-email-err form-err"></span>
      </div>

      <div class="c-contact__input-group">
        <label for="form-message">Message: </label>
        <textarea
          id="form-message"
          placeholder="your message..."
          name=""
          rows="20"
        ></textarea>
        <span class="form-message-err form-err"></span>
      </div>

      <div class="c-contact__input-group">
        <button id="form-btn" class="c-contact__btn">Send</button>
      </div>
    </form>
  </div>
</section>
