<footer class="c-footer">
  <div class="container">
    <!-- social section -->
    <ul class="c-footer__social">
      <li class="c-footer__social-item">
        <a href="https://facebook.com/naif4web">
          <img src="img/icon/facebook.svg" alt="" />
        </a>
      </li>
      <li class="c-footer__social-item">
        <a href="https://twitter.com/naif4web">
          <img src="img/icon/twitter.svg" alt="" />
        </a>
      </li>
      <!-- <li class="c-footer__social-item">
            <a href="#">Instagram</a>
          </li>
          <li class="c-footer__social-item">
            <a href="#">Github</a>
          </li> -->
    </ul>

    <h4 class="c-footer__title">Copyright &copy; for naif4web</h4>

    <h5 class="c-footer__subtitle">
      Made with <span class="c-footer__made-with">❤</span> by Naif Sameer.
    </h5>
  </div>
</footer>
