<header class="c-header">
  <div class="container">
    <div class="c-header__logo">Naif</div>

    <!-- navbar -->
    <nav class="c-nav">
      <ul class="c-nav__list">
        <li class="c-nav__item">
          <a href="#"> Home </a>
        </li>
        <li class="c-nav__item">
          <a href="#"> About </a>
        </li>
        <li class="c-nav__item">
          <a href="#"> Services </a>
        </li>
        <li class="c-nav__item">
          <a href="#"> Contact us </a>
        </li>
      </ul>
    </nav>

    <!-- dark/light button -->
    <button class="mode-btn">Dark</button>
  </div>
</header>
