<section class="c-hero" id="home">
  <div class="container">
    <div class="c-hero__desc">
      <h1 class="c-hero__title text-gradient-color">
        Hello :),
        <br />
        I am
        <span class=""> Naif </span>
        Sameer
      </h1>

      <p class="c-hero__info">I'm a Front end and Javascript developer.</p>

      <a href="#about-me" class="c-hero__link"> Learn more </a>
    </div>
  </div>
</section>
